
footer {
    display: flex;
    flex-direction: column;
    height: 90px;
    width: 100%;
    justify-content: center;
    position: absolute;
    align-items: center;
    bottom: 0;
    border-top: 1px solid #185376;
    background-color: #185376;
    color: white;

    p {
        padding: 5px;
    }
}